.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
}
.features-card{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 5vw;
    margin-bottom: 20px;

}
.card-para{
    width: 100%;
    margin: 0 10px;
}
.features-heading{
    height: 16vh;
    max-height: 110px;
}
.f-13{
    font-size: 1.65rem;
    display: flex;
    gap:15px;
    align-items: center;
    
}
.card-para p{
    font-size: 1.3rem;
}