.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
}

.footer-links a:hover {
    color: white;
    text-decoration: underline;
}
