.footer {
    background-color: black;
    color: white;
    padding: 20px 20px;
    font-size: large;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}
.footer-section {
    flex: 1 1 300px;
    margin: 10px 0;
}
.footer-section h5 {
    margin-bottom: 10px;
}
.footer-section ul {
    list-style: none;
    padding: 0px;
}
.footer-section ul li {
    margin-bottom: 8px;
}
.footer-section a {
    color: white;
    text-decoration: none;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}