.herosection{
  display:flex;
  padding-left:3vw;
  padding-top: 10vh;
  padding-bottom: 10px;;
  gap:200px;
}
#main-text{
  font-size: 4rem;
  color:black;;

}
.content button{
  width:425px;
  height: 2.7rem;
  border: 1px solid #3d5fe4 ;
  border-radius: 25px;
  background: linear-gradient(to right, #2844b2, #264ef0);
  font-weight: 600;
  font-size: 1.5rem;
  color:white;
  cursor:pointer;
  transition:all 0.3s;
}
.content button:hover{
    box-shadow: 0 10px 20px rgba(61, 95, 228, 0.3);
    background: transparent;
    color:black
}
.content{
    width:36vw;
    min-width: 400px;
}
.content p{
    font-size: 1.3rem;
}
