.herosection{
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 100px;
}
#main-text{
  font-size: 5rem;
  color:black;;

}
.herosection button{
  width:425px;
  height: 2.7rem;
  border: 1px solid black ;
  border-radius: 25px;
  background: linear-gradient(to right, #a583f4, #f580d4);
  font-weight: 600;
  font-size: 1.5rem;
  color:black;;
}