.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page img{
    height:300px;
    border: 2px solid #4c9aff;
    border-radius: 10px;
    padding:20px;
    margin-right:70px;
    background-color: rgb(76, 98, 114);
}
@media screen and (max-width: 768px) {
.login-page img{
    display:none;
  }
}