
.navbar{
  display: flex;
  height: 2vh;
  padding: 1.3rem;
  align-items: center;
  justify-content: space-between;
  color:white;
  background-color: #a583f4;
}.logo h1{
  font-weight: 170;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}
.right-nav ul{
  display:flex;
  font-size: 1.3rem;
  list-style: none;
  gap:30px;
}
.right-nav ul li{
  font-weight: 240;
  cursor:pointer;
  font-family: "Inter", sans-serif;
}
.right-nav ul li:hover{
  font-weight: 310;
}
