
.navbar-nor{
  display: flex !important;
  height: 2vh !important;
  align-items: center !important;
  padding:  1.89rem 1.3rem !important;
  justify-content: space-between !important;
  color:black !important;
  background-color: transparent !important;
}.logo h1{
  font-weight: 400;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}
a{
  text-decoration: none;
  color:black;
}
.right-nav ul{
  display:flex;
  font-size: 1.3rem;
  list-style: none;
  gap:30px;
}
.right-nav ul li{
  font-weight: 400;
  cursor:pointer;
  font-family: "Inter", sans-serif;
}
.right-nav ul li:hover{
  font-weight: 405;
}
